<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>List Publisher</h1>
    <table th:each="listPublisher : ${publisher} ">
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Contact Person</th>
            <th>Phone</th>
        </tr>
        <tr>
            <td th:text="${listPublisher.name}"></td>
            <td th:text="${listPublisher.address}"></td>
            <td th:text="${listPublisher.contact}"></td>
            <td th:text="${listPublisher.phone}"></td>
        </tr>
    </table>
</body>
</html>